#canvas {
	display: none;

}

#timerGui{
	position: absolute;
	top: 0;
}

#gameContainer {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#gui {
	position: absolute;
	left: 40%;
	width: 20%;
	top: 40px;
	border-radius: 10px;
	background: #f2f2f2;
}
	#gui ul {
		padding: 20px;
	}
		#gui ul li {
			list-style: none;
			text-align: center;
			font-size: 24px;
			font-family: verdana;
		}
			#gui ul li:hover {
				font-size:24px;
			}
			
#autorzy {
	display: none;
	position: absolute;
	top: 10px;
	left: 40%;
	width: 20%;
	background: black;
	border-radius: 20px;
	padding: 30px;
	border: 1px dashed white;
	color: white;
}	

#statystki {
    position: absolute;
    background: rgba(255,255,255,0.8);
    border: 1px solid black;
    padding: 20px;
}		

.smallerText{
	font-size: 0.8em;
}

.painters{
	margin: 0;
}
.painter{
	width:  50px;
	height: 51px;
	display: inline-block;
	/*background: url(../images/brush-icon.png);*/
}

	.painter.selected{
		background-position: 0px 51px;
	}
	
	.painter:hover{
		background-position: 0px 51px;
		color:red;
		cursor: pointer;
	}

.hidden{
	display: none;
}	